* {
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%; /* 1rem = 10px easier to reason about everywhere, for example 1.4rem = 14px… */
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

h2 {
  display: flex;
  font-family: Times New Roman, serif;
  font-size: 3.2rem;
}

h2 span {
  flex: 1;
}

h2 a {
  font-size: 1.2rem;
}

h2:target {
  background: gold;
}

h3 {
  font-size: 2.0rem;
}

p {
  line-height: 1.6;
}

a {
  color: #339;
}

a.kbd {
  color: #333;
  text-decoration: none;
}

a.external, a.user-guide, a.plugin {
  background-image: url(../img/external.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: .8em;
  padding-right: 1em;
}

a[href*="//"]:not([href*="wildmenu.net"]) {
    /* external link styles, use :before or :after if you want! */
}

article em {
  color: #000;
}

dt {
  float: left;
}

dd {
  margin-bottom: 1rem;
  margin-left: 11rem;
}

kbd {
  background: #f5f5f5;
  border-color: #ddd #bbb #bbb #ddd;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  font-size: 1.8rem;
  font-weight: bold;
  padding: .2rem .5rem;
  white-space: nowrap;
}

cmd {
  background: #333;
  color: #fff;
  display: inline;
  font-family: monospace;
  padding: .2rem;
}

header h1 {
  font-size: 3.2rem;
  text-align: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header li {
  display: inline;
}

header li a {
  display: inline-block;
  padding: .8rem;
  text-decoration: none;
}

header li a:hover {
  background: #eee;
}

header .warning {
  color: #900;
  text-align: center;
}

#key-details {
  min-height: 16rem;
  margin: 0 auto;
  width: 60%;
}

main {
  margin: 0 auto;
  width: 60%;
}

section {
  margin-bottom: 4.8rem;
}

section:after {
  color: #ccc;
  content: '§';
  display: block;
  font-size: 2.4rem;
  position: relative;
  text-align: center;
  top: 2.4rem;
}

article {
  margin-bottom: 4.8rem;
}

article header {
  align-items: center;
  display: flex;
}

article h3 {
  flex: 1;
}

article li {
  margin-bottom: 1rem;
}

article header kbd {
  font-size: 2rem;
  margin: 0 1rem;
  padding: 1rem;
}

.user-guide {
  display: block;
  text-align: right;
}

pre {
  background: #333;
  color: #eee;
  font-size: 1.6rem;
  padding: 1rem;
  tab-size: 2rem;
  white-space: pre-wrap;
}

pre code {
  display: block;
  margin-top: -1em;
}

@keyframes blink {
  50% {
    background: white;
    color: black;
  }
}

@-webkit-keyframes blink {
  50% {
    background: white;
    color: black;
  }
}

cursor, .blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

cursor, target {
  display: inline;
}

target {
  background: gold;
  color: black;
}

footer {
  font-size: 1.2rem;
  text-align: center;
}
